
* {
    margin: 0;
    border: 0;
}

body {
overflow: hidden;
}

#game-box {
    border: 5px #000 solid;
    height: 700px;
    width: 900px;
    margin:0 auto;
    margin-top: 40px;
    border-radius: 10px;
    background: rgba(10, 230, 39, 0.933)
}

.walls {
    width: 50px;
    height: 100%;
    left: 860px;
    /*background: url("assets/img/hedge.jpg") repeat;*/
    display: cover;
    position: relative;
    animation: walls 2.5s infinite;
    color: chocolate;
    overflow: hidden;
}
@keyframes walls {
    0%{left:860px}
    100%{left:-100px}
}

#gap {
    background: rgba(10, 230, 39, 0.933);
    margin-top: 400px;
    width: 50px;
    height: 50px;
    position: absolute;
}

#sprite > img{
   width: 45px; 
   height: 45px;
   top: 350px;
   left: 0;
   }